{% extends 'portfolio/layout.html' %}
{% load static %}

{% block content %}

<div class="container_aboutme">

    <section class="section_aboutme">

        <h2>About Me</h2>
        <div>
            <p>
                Olá, sou o José Vale, tenho 24 e sou estudante de Engenharia Informática, com objetivos de um dia vir a trabalhar na área de video-jogos.
            </p>
            <p>
               Desde novo que sempre tive interesses em problem solving e matemática, ganhando assim um grande interesse pela área de programação.
            </p>
        </div>
    </section>

    <section class="section_competencias">

        <h2>Competencias</h2>
        <div>
            <ul>
                <li>
                    <strong>Linguagens de Programção</strong>
                    Kotlin, C, Java, C++, Python, HTML, CSS, JavaScript
                </li>
            </ul>
        </div>
    </section>

    <section class="section_videos">

        <h2>Guia do Website</h2>

        <video width="320" height="240"></video>


    </section>
</div>


{% endblock %}