{% extends 'bandas/layout.html' %}

{% block content %}
<div class="band-list">
    <h2>Lista de Bandas</h2>
    <ul>
        {% for banda in bands %}
        <li>
            <h3>{{ banda.name }}</h3>
            <img src="{{ banda.photo.url }}" alt="{{ banda.name }}">
            <p>{{ banda.info }}</p>
            <a href="{% url 'bandas:banda_url' banda.id %}">Ver Detalhes</a>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'bandas:nova_banda_url' %}"><button>Adicionar Banda</button></a>
</div>
{% endblock %}