<h3>Seletores CSS</h3>
<p>CSS (Cascading Style Sheets) é uma linguagem de estilo usada para descrever a apresentação de um documento escrito em HTML ou XML.</p>
<table>
  <tr>
    <th>Tipo de Seletor</th>
    <th>Usado</th>
    <th>Comentário</th>
  </tr>
  <tr>
    <td>Classe</td>
    <td><i class="material-icons">check</i></td>
    <td>Usado para estilizar elementos com atributos de classe.</td>
  </tr>
  
</table>

<h3>Combinadores de Seletores</h3>
<table>
  <tr>
    <th>Combinador</th>
    <th>Usado</th>
    <th>Comentário</th>
  </tr>
  <tr>
    <td>Descendente</td>
    <td><i class="material-icons">check</i></td>
    <td>Estiliza elementos descendentes de um elemento pai.</td>
  </tr>
  
</table>
---