<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Previsão do Tempo em {{ cidade }}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'meteo/styles.css' %}">
</head>
<body>

    <a href="{% url 'meteo:index_url' %}"><button>Previsão de Lisboa</button></a>

    {% for day in forecasts %}
        <div class="container">
        <h1>Previsão do Tempo para {{ day.data }} em {{ cidade }}</h1>
        <div class="weather-info">
            <p>Data: <span>{{ data }}</span></p>
            <p>Temperatura Mínima: <span>{{ day.temperatura_minima }}°C</span></p>
            <p>Temperatura Máxima: <span>{{ day.temperatura_maxima }}°C</span></p>
            <p>Probabilidade de Precipitação: <span>{{ day.precipita_prob }}%</span></p>
            <p>Direção do Vento: <span>{{ day.pred_wind_dir }}</span></p>
            <p>Velocidade do Vento: <span>{{ day.class_wind_speed }}</span></p>
            <p>Coordenadas Geográficas: <span>Latitude {{ day.latitude }}, Longitude {{ day.longitude }}</span></p>
            <img src="{{ day.icon_url }}" alt="Ícone do Tempo">
        </div>
    </div>
    {% endfor %}
</body>
</html>
